/*================common css==================*/
body{
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
    color: #333;
}
a{
    color: #333;
}
a:hover{
    color: #e92322;
    text-decoration: none;
}
.margin-bottom-70 {
    margin-bottom: 70px !important;
}
.marginbot-50 {
    margin-bottom: 50px !important;
}
.margintop-50 {
    margin-top: 50px !important;
}
.bg-white {
    background: #fff;
}
.font-yel{
    color: #F4D03F;
}
@font-face {
    font-family: 'myself_fonts';
url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3')
    format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3')
    format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3')
    format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular')
    format('svg');
}

@font-face {
    font-family: 'my_fonts_system';
    src:
            url('../fonts/MiFie-Web-Font.svg') format('svg'),
            url('../fonts/MiFie-Web-Font.ttf') format('truetype'),
            url('../fonts/MiFie-Web-Font.woff') format('woff'),
            url('../fonts/MiFie-Web-Font.eot') format('embedded-opentype');
}

.myself-ico{
    font-family:myself_fonts;
}
.myself_icon_cp::before{
    content: "\f109";
}

.myself_icon_phone::before{
    content: "\e908";
}
.myself_icon_other::before{
    content: "\f121";;
}

.fa-laptop:before {
    content: "\f109";
}



.m_l10{
    margin-left: 10px;
}
.m_b_20{
    margin-bottom: 20px;
}
.marginbot-50{
    margin-bottom: 50px !important;
}