.hy-navbar-default {
    background-color: transparent;
    /*border-color: #e7e7e7;*/
    /*color: #ffffff;*/
    box-shadow:  0 0 20px rgba(0, 0, 0, .1);
}
.hy-navbar-default .navbar-brand {
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}
.hy-navbar-default .navbar-brand:hover,
.hy-navbar-default .navbar-brand:focus {
    color: #5e5e5e;
    background-color: transparent;
}
.hy-navbar-default .navbar-text {
    color: #777;
}
.hy-navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.hy-navbar-default .navbar-nav > li > a:hover,
.hy-navbar-default .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}
.hy-navbar-default .navbar-nav > .active > a,
.hy-navbar-default .navbar-nav > .active > a:hover,
.hy-navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
.hy-navbar-default .navbar-nav > .disabled > a,
.hy-navbar-default .navbar-nav > .disabled > a:hover,
.hy-navbar-default .navbar-nav > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
}
.hy-navbar-default .navbar-toggle {
    border-color: #ddd;
}
.hy-navbar-default .navbar-toggle:hover,
.hy-navbar-default .navbar-toggle:focus {
    background-color: #ddd;
}
.hy-navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}
.hy-navbar-default .navbar-collapse,
.hy-navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.hy-navbar-default .navbar-nav > .open > a,
.hy-navbar-default .navbar-nav > .open > a:hover,
.hy-navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .hy-navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .hy-navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .hy-navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .hy-navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .hy-navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .hy-navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .hy-navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .hy-navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .hy-navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }
}
.hy-navbar-default .navbar-link {
    color: #777;
}
.hy-navbar-default .navbar-link:hover {
    color: #333;
}
.hy-navbar-default .btn-link {
    color: #777;
}
.hy-navbar-default .btn-link:hover,
.hy-navbar-default .btn-link:focus {
    color: #333;
}
.hy-navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .hy-navbar-default .btn-link:hover,
.hy-navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .hy-navbar-default .btn-link:focus {
    color: #ccc;
}

#s1{
     height: auto;
     background: url("../image/home.jpg") no-repeat center;
     -webkit-background-size: cover;
     background-size: cover;
 }
#s1 h1{
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    margin: 40px 0 10px;
    letter-spacing: 10px;
    opacity: 0;
}
#s1.current h1{
    animation: fadeInDown 1s  ease both;
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
#s1.current p{
    animation: fadeInUp 1s ease both;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
#s1 p{
    font-size: 24px;
    font-weight: 400;
    color: #fefefe;
    opacity: 0;
}


#s2{
    height: auto;
    background: url("../image/home2.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
#s2 h2,p{
    color: #ffffff;
}
#s2 .section-heading{
    opacity: 0;
}
#s2 .divider-header{
    display: block;
    width: 40px;
    height: 2px;
    margin: 0 auto;
    margin-bottom: 10px;
    background: #ffffff;
}
#s2.current .section-heading{
    opacity: 1;
    animation: bounceInDown 1s ease both;
}
@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}
#s2 .ptext1,.ptext2{
    opacity: 0;
    line-height: 30px;
}
#s2.current .ptext1{
    line-height: 30px;
    /*transition: all 1s;*/
    animation: rotateIn 1s 1s ease both;
}
#s2.current .ptext2{
    line-height: 30px;
    animation: fadeInUp 1s 2s ease both;
}


#s3{
    height: auto;
    background: url("../image/home3.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
#s4{
    height: auto;
    background: url("../image/home4.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
#s5{
    height: auto;
    background: url("../image/home5.jpg") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}